.container {
  background: var(--card-bg);
  box-shadow: var(--card-shadow);
}

.entry {
  padding: 2em;
  position: relative;
}

.has-voted>:not(.voted) {
  opacity: .3;
}

.entry:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 1em;
  right: 1em;
  border-bottom: 1px solid #ddd;
}

.line {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
  gap: 1em;
}

.proposal {
  padding: 0;
  text-decoration: underline;
  color: var(--primary);
  position: relative;
  
}

.title {
  font-size: 1.3em;
  white-space: initial;
}

.deposit {
  color: #aaa;
  font-size: .9em;
}

.badge {
  color: white;
  font-size: .8em;
  padding: .2em 1em;
  border-radius: 2em;
  background: var(--color);
}

.buttons {
  display: flex;
  gap: .5em;
  justify-content: center;
  font-size: 1.5em;
}

.buttons :global(.btn) {
  border: none;
  color: var(--color);
}

.voted, .voted:hover, .voted:focus-visible {
  border: none;
  color: white;
  background: var(--color);
  font-size: 1em;
  position: absolute;
  left: -1em;
  top: -1em;
}

.no-result {
  padding: 3em;
  font-size: 1.2em;
  color: #ccc;
  text-align: center;
}